{% extends 'base.html.twig' %}

{% block body %}

{% for menu in menus %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
        <h1 class="my-5 text-center">Bienvenue sur la page de la cantine: </h1>
            <div id="mep_cantine">
                <p class="my-2 text-center">
                L’établissement travaille avec la société Océane de Restauration.
                L’inscription à la cantine peut se faire de différentes manières: permanent ou au bordereau.
                Une inscription ou une annulation est toujours possible la veille pour le lendemain.
                <p class="lead  text-center ">
                <a href="{{asset('images/menu/menu.pdf')}}" class="btn btn-primary" role="button">
                <i class="fas fa-info-circle"></i>
                Cliquez ici pour obtenir
                le fichier PDF comprenant toutes les semaines de la période 3 !
                </a>
            </div>
            <div class="my-5 text-center">
                <div class="my-5 text-center">
                    <div class="card-body" id="tarif">
                        <h5 class="card-text">
                            Tarif abonné:
                            {{menu.tarifAbonne}} Euros.
                        </h5>
                        <h5 class="card-text">
                            Tarif passager:        
                            {{menu.tarifPassager}} Euros.
                        </h5>
                    </div>
                    <div class="card profile-card-5">
                        <img class="card-img-top" src="{{asset('images/menu/' ~ menu.cartemenu)}}" alt="image menu"/>
                    </div>
                    {% if ROLE_ADMIN or ROLE_USER_MAIRIE  %}
                    <div class="row no-gutters">
                        {% if ROLE_ADMIN or ROLE_USER_MAIRIE  %}
                        <a href="{{path('creationMenu')}}" class="col btn btn-success">Ajouter un nouveau menu</a>     
                        {% endif %} 
                        <a href="{{path('modificationMenu',{'id' : menu.id})}}" class="col btn btn-warning">Modifier un menu</a>
                        <form method="post" class="col" action="{{path('suppMenu',{'id':menu.id})}}" onsubmit="return confirm('Voulez vous vraiement supprimer le menu?')">
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ menu.id)}}">
                        <input type="submit" class="btn btn-danger w-100" value="Supprimer un menu">
                        </form>
                    </div>
                    {% endif %}          
                </div> 
            </div>
        </div>
</div>
{% endfor %}

<div class="navigation justify-content-center">
    {{ knp_pagination_render(menus) }}
</div>

{% endblock %}