{% extends 'base.html.twig' %}



{% block body %}
<!--{{dump(menus)}}-->
<div class="container">
    <h1 class="my-5 text-center">Les menus :</h1>
        <div class="row">
               {% for menu in menus %}
                   <div class="col-md-4 mt-4">
                        <div class="card profile-card-5">
                            <div class="card-img-block">
               
                            </div>
                                <div class="card-body">
                                

                                 <class="card-date">
                                    Date de création du menu :
                                    <h3>
                                
                                   {{ menu.date_creation_menu|date("jS F Y", "Europe/Paris")}}
                                    </h3>
                                    Date du repas :
                                    <h3>
                                    
                                    {{ menu.date_service_menu|date("jS F Y", "Europe/Paris")}}
                                    </h3>
                        
                                
                                Entrée:
                                    <p class="card-text">
                                        {{ menu.entree }}
                                    </p>
                                Plat:
                                    <p class="card-text">
                                
                                    {{ menu.plat}}
                                </p>
                                Dessert:
                                <p class="card-text">
                                    {{ menu.dessert}}
                                </p>

                               
                               Tarif " abonné " : 
                              <p class="card-text">
                                    {{ menu.tarif_abonne}}
                                    euros
                                </p> 
                                Tarif " passager " : 
                                <p class="card-text">
                                    {{ menu.tarif_passager}}
                                    euros
                                </p> 
        
</div>
</div>
</div>


                {% endfor %}
    




{% endblock %}


 