{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <h1 class="my-5 text-center">La page des T.A.P :</h1>
        <div class="row">
               {% for actu in tap %}
                   <div class="my-5 text-center">
                        <div class="card profile-card-5">
                            <div class="card-img-block">
                                <img class="card-img-top" src="{{ actu.image }}" alt="image article tap"/>
                            </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                    Classe concernée :
                                        {{ actu.classe }}
                                    </h5>

                                 <p class="card-text my-3">
                                Responsable :
                                    {{ actu.responsable}}
                                </p>
                            
                                <h5 class="card-date">
                                    Article créé le :
                                    {{ actu.dateCreationArticle|date("m/d/Y") }}
                                </h5>
                                 <h5 class="card-date">
                                    Date de début de l'activité :
                                    {{ actu.dateDebutActivite|date("m/d/Y") }}
                                </h5>
                                 <h5 class="card-date">
                                    Date de fin de l'activité :
                                    {{ actu.dateFinActivite|date("m/d/Y") }}
                                </h5>
                            
                                <p class="card-text my-3">
                                Activité pratiquée :
                                    {{ actu.activite}}
                                </p>
                                  <p class="card-text">
                                Résumé de l'activité :
                                    {{ actu.description}}
                                </p>
        
</div>
</div>
</div>


                {% endfor %}
    




{% endblock %}


 