<nav class="navbar navbar-expand-sm navbar-light bg-info" id="navbar">
  <a class="navbar-brand" href="{{ path('home') }}">Ecole Roger Bazille</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav " id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">
          <i class="fas fa-home"></i>
            Accueil 
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="actu_prof" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ecole</a>
        <div class="dropdown-menu" aria-labelledby="actu_prof">
          <a class="dropdown-item" href="{{path('ecole')}}">Actualités des professeurs</a>
          {% if user and (user.role.label == 'ROLE_ADMIN_MASTER' or user.role.label == 'ROLE_ADMIN_PROF') %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('admin_ecole')}}">Espace professeurs</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Périscolaire</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="{{path('cantine')}}">Cantine</a>
          <a class="dropdown-item" href="{{path('periscolaire')}}">Accueil Périscolaire</a>
          <a class="dropdown-item" href="{{path('tap')}}">T.A.P</a>
          {% if user and (user.role.label == 'ROLE_ADMIN_MASTER' or user.role.label == 'ROLE_ADMIN_MAIRIE')%}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('choix_admin')}}">Espace mairie</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parents d'élèves
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="{{path('parents_eleves')}}">Actualités des parents d'élèves</a>
          {% if user and (user.role.label == 'ROLE_ADMIN_MASTER' or user.role.label == 'ROLE_ADMIN_PARENT')%}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('admin_parents')}}">Espace parents d'élèves</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Conseil d'école
          {% if nb_questions > 0 and user and (user.role.label == 'ROLE_ADMIN_MASTER' or user.role.label == 'ROLE_ADMIN_PROF') %}
            <span class="badge badge-danger m-1">{{ nb_questions }}</span>
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="{{path('conseil_ecole')}}">Actualités du conseil d'école</a>
          <a class="dropdown-item" href="{{path('questions')}}">Vos questions</a>
          {% if user and (user.role.label == 'ROLE_ADMIN_MASTER' or user.role.label == 'ROLE_ADMIN_CONSEIL')%}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('choix_admin_conseil')}}">
              Espace délégués des parents d'élèves 
              {% if nb_questions > 0 %}
                <span class="badge badge-danger m-1">{{ nb_questions }}</span>
              {% endif %}
            </a>            
          {% endif %}
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Infos pratiques
          {% if nb_contacts > 0 and user and (user.role.label == 'ROLE_ADMIN_MASTER') %}
            <span class="badge badge-danger m-1">{{ nb_contacts }}</span>
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="{{path('infos_pratiques')}}">Infos pratiques</a>
          {% if user and user.role.label == 'ROLE_ADMIN_MASTER' %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('admin_infos_pratiques')}}">
              Espace administration des infos pratiques
              {% if nb_contacts > 0 %}
                <span class="badge badge-danger m-1">{{ nb_contacts }}</span>
              {% endif %}
            </a>
          {% endif %}
      </li>
    </ul>
    {% if user  %}
      {% if user.role.label == 'ROLE_ADMIN_MASTER' %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('utilisateur_index') }}">
                Gérer les utilisateurs
            </a>
          </li>
      {% endif %}
      <span class="" id="connection">
        <a name="login" id="login" class="nav-link" href="{{path('app_logout')}}" role="button">Se déconnecter<br><p class="h6">({{user.username}})</p></a>
      </span>
    {% else %}
      <a name="login" id="login" class="nav-link" href="{{path('app_login')}}" role="button">Se connecter</a>
    {% endif %}
  </div>
</nav>


