{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <h1 class="mt-4 p-2 text-center">Retrouvez ici les actualités des professeurs</h1>
    {% for actuProf in actu %}
    <div class="my-5 mt-5 text-center">
        {% if ROLE_ADMIN or ROLE_USER_PROF  %}
        <a href="{{path('creationActuProf')}}" class="col btn btn-success">Ajouter un nouvel article</a>
        {% endif %}       
        <div class="my-5 mt-5 text-center">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{asset('images/docs/' ~ actuProf.image)}}" alt="image article prof"/>
                </div>
                <div class="card-body mt-5">
                    <h5 class="card-date">
                        Date de l'article :
                        {{actuProf.createdAt|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y')}}
                    </h5>
                    <h5 class="card-title">
                        {{actuProf.titre}}
                    </h5>
                    <p class="card-text">
                        {{actuProf.article}}
                    </p>
                </div>
                {% if ROLE_ADMIN or ROLE_USER_PROF  %}
                <div class="row no-gutters">
                    <a href="{{path('modificationActuEcole',{'id' : actuProf.id})}}" class="col btn btn-warning">Modifier</a>
                    <form method="post" class="col" action="{{path('suppActuProf',{'id':actuProf.id})}}" onsubmit="return confirm('Voulez vous vraiement supprimer l\'article?')">
                    <input type="hidden" name="_method" value="SUP">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ actuProf.id)}}">
                    <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                </div>
                {% endif %}       
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(actu) }}
    </div>
</div>

{% endblock %}
