{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="my-5 text-center">Bienvenue sur la page de l'accueil périscolaire</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    {% for actuPeri in actuPeriscolaire %}
    <div class="my-5 text-center">
        {% if ROLE_ADMIN or ROLE_USER_MAIRIE  %}
        <a href="{{path('creationActuPeriscolaire')}}" class="col btn btn-success">Ajouter une nouvelle actualite périscolaire</a>     
        {% endif %}
        <div class="my-5 text-center">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{asset('images/docs/' ~ actuPeri.image)}}" alt="image article périscolaire"/>
                </div>
                <div class="card-body">
                    <h5 class="card-date">
                        Date de l'article :
                        {{actuPeri.createdAt|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y')}}
                    </h5>
                    <h5 class="card-title">
                        {{actuPeri.titre}}
                    </h5>
                    <p class="card-text">
                        {{actuPeri.article}}
                    </p>
                </div>
                {% if ROLE_ADMIN or ROLE_USER_MAIRIE  %}
                <div class="row no-gutters">
                    <a href="{{path('modificationPeriscolaire',{'id' : actuPeri.id})}}" class="col btn btn-warning">Modifier</a>
                    <form method="post" class="col" action="{{path('suppActuPeriscolaire',{'id':actuPeri.id})}}" onsubmit="return confirm('Voulez vous vraiement supprimer le menu?')">
                    <input type="hidden" name="_method" value="SUP">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ actuPeri.id)}}">
                    <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                </div>
                {% endif %}           
            </div>
        </div>
    </div>
{% endfor %}

<div class="navigation justify-content-center">
{{ knp_pagination_render(actuPeriscolaire) }}
</div>
</div>

{% endblock %}
